@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    padding:0;
    margin:0;
    box-sizing: border-box;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #191919;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #393939;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #242424;
}